extends layout
block content 
  - var i1 = ["test1", "item2", "item3"];
  - var i2 = ["fuck1", "fuck2", "fuck3"];
  - var g1 = {label: "test", items: i1};
  - var g2 = {label: "fuck", items: i2};
  - var testgroup = [g1, g2];

  - var formID = "MainForm";
  - var FollowUpTypes = ["Please Select", "Post-Repair", "Complaint", "Post-Maintenance"];
  - var radioResolved = [{name: "IsNotResolved", item: "Yes"}, {name: "IsResolved", item: "No"}]
  - var radioFollowUpRequired = [{name: "FlolowupRequired", item: "Yes"}, {name: "FlolowupNotRequired", item: "No"}]
  #Header
    h1#Mainheader Premier Service Solutions
  #Main
    #VoidLeft
    form(id=formID, action='Submit()')
      #SelectClient.contentdiv
        +combo(formID, 'Select a Client', testgroup)(id='dropdownSelectClient')
      #FollowUpTitle.contentdiv
        +text(formID, 'Follow up Title', 'Enter title')(id='FollowUpText')  
      #FollowUpType.contentdiv
        +combo(formID, 'Select a Type', FollowUpTypes)(id='dropdownFollowUpType')
      #FollowUpDescription.contentdiv
        +textarea(formID, 'Follow up Description', 'Enter description')(id='FollowUpDescriptionText')
      #FollowUpRequired.contentdiv
        +radiogroup(formID, 'Is a folowup action required?', 'IsFollowUpRequired', radioFollowUpRequired)(id='rgpIsFollowUpRequired')
      #DateTime.contentdiv
        +date(formID, 'Date to follow up')
      #IssueResolved.contentdiv
        +radiogroup(formID, 'Is issue resolved?', 'IsIssueResolved', radioResolved)(id='rgpIsIssueResolved')
      #SatisfactionLevel.contentdiv
        +number(formID, 'Satisfaction Level', '1', '4')(id='edtSatisfactionLvl')
      #Submit.contentdiv
        button#btnSubmit(type='submit' data-component='button', form=FormID) Submit
    #VoidRight

  