extends layout
//- website solong
block content 
  #Header
    h1#Mainheader Premier Service Solutions
  #Main
    #VoidLeft
    #Content
      #SelectClientType.contentdiv
        h3#lblClienttype(for='SelectClientType') Select a Client Type
        form#ClientTypes
          input#IndividualClient.RadioClientType(type='radio' name='ClientTypeRadio' value='Individual Client' onclick='displayIndividual()')
          label(for='IndividualClient') IndividualClient
          br
          input#BusinessClient.RadioClientType(type='radio' name='ClientTypeRadio' value='Business Client' onclick='displayBusiness()')
          label(for='BusinessClient') BusinessClient
      #SelectClient.contentdiv
        h3#lblSelectClient(for='SelectClient') Select a client
        select#dropdownSelectClient.inputbars
      #FollowUpTitle.contentdiv
        h3(for='FollowUpTitle') Follow up Title
        input#FollowUpText.inputbars(type='text' placeholder='Enter title')
      #FollowUpType.contentdiv
        h3#lblFollowUpType(for='FollowUpType') Select a Type
        select#dropdownFollowUpType.inputbars
      #FollowUpDescription.contentdiv
        h3(for='FollowUpDescription') Follow up Description
        textarea#FollowUpDescriptionText(name='DescriptionTextArea' placeholder='Enter description')
      #DateTimeMode.contentdiv
        h3#lblDateTimeMode(for='DateTimeMode') Follow up date received
        form#DateTypes
          input#CurrentDateTime.RadioDateType(type='radio' name='DateTypeRadio' value='Current Date' onclick='getCurrentDate()')
          label(for='CurrentDateTime') Use current date/time
          br
          input#SpecifyDateTime.RadioDateType(type='radio' name='DateTypeRadio' value='Specified Date' onclick='getSpecifiedDate()')
          label(for='SpecifyDateTime') Specify date/time
          #addComp
      #DateTime.contentdiv
        h3(for='DateTime' ) Follow up date processed
        input#DateTimeText.inputbars(type='date' size='10' maxlength='10')
      #IssueResolved.contentdiv
        h3#lblIssueResolved(for='IssueResolved') Is issue resolved?
        form#IssueResolved
          input#IsResolved.IsIssueResolved(type='radio' name='IsIssueResolvedRadio' value='Yes')
          label(for='IsResolved') Yes
          br
          input#IsNotResolved.IsIssueResolved(type='radio' name='IsIssueResolvedRadio' value='No')
          label(for='IsNotResolved') No
      #SatisfactionLevel.contentdiv
        h3#lblSatisfactionLvl Satisfaction Level
        input#edtSatisfactionLvl.inputbars(type='number' data-type='input-spinner' placeholder='0' data-component='spinner' min='0' max='10')
      #Submit.contentdiv
        button#btnSubmit(type='submit' data-component='button' onclick='Submit()') Submit
    #VoidRight

  