extends layout

block content 
  div#heading   
    h1#mainheading= title
    p#welcome Welcome to Premier Service Solution
  div#maindiv
    div#voidleft
    div#content
    //- content goes here
    div#voidright
  