extends layout
//- website solong
block content 
  #Header
    h1#Mainheader Premier Service Solutions
  #Main
    #VoidLeft
    #Content
      #SelectClientType.contentdiv
        label#lblClienttype(for='SelectClientType') Select a Client Type
        br
        ul#ClientTypes
          li
            input#IndividualClient.RadioClientType(type='radio')
            label(for='IndividualClient') IndividualClient
          li
            input#BusinessClient.RadioClientType(type='radio')
            label(for='BusinessClient') BusinessClient
      #SelectClient.contentdiv
        label#lblSelectClient(for='SelectClient') Select a client
        br
        select#dropdownSelectClient
          option(value) Please Select
          option(value)
      #FollowUpTitle.contentdiv
        label(for='FollowUpTitle') Follow up Title
        br
        input#FollowUpText(type='text')
      #FollowUpType.contentdiv
        label#lblFollowUpType(for='FollowUpType') Select a Type
        br
        select#dropdownFollowUpType
          option(value) Please Select
          option(value)
      #FollowUpDescription.contentdiv
        label(for='FollowUpDescription') Follow up Description
        br
        input#FollowUpDescriptionText(type='text')
      #DateTimeMode.contentdiv
        label#lblDateTimeMode(for='DateTimeMode') Mode for date/time of followup
        br
        ul#DateTypes
          li
            input#CurrentDateTime.RadioDateType(type='radio')
            label(for='CurrentDateTime') Use current date/time
          li
            input#SpecifyDateTime.RadioDateType(type='radio')
            label(for='SpecifyDateTime') Specify date/time
      #DateTime.contentdiv
        label(for='DateTime') Date/Time the follow up occurred/was received
        br
        input#DateTimeText(type='text' size='10' data-maxlength='10' maxlength='10' data-age='' value='' data-format='mmddyyyy' data-seperator='-' placeholder='MM-DD-YYYY' autocomplete='off' aria-labelledby='label_12 sublabel_12_litemode' im-insert='false')
      #IssueResolved.contentdiv
        label#lblIssueResolved(for='IssueResolved') Mode for date/time of followup
        br
        ul#IssueResolved
          li
            input#IsResolved.IsIssueResolved(type='radio')
            label(for='IsResolved') Issue is resolved
          li
            input#IsNotResolved.IsIssueResolved(type='radio')
            label(for='IsNotResolved') Issue is not resolved
      #SatisfactionLevel.contentdiv
        label#lblSatisfactionLvl Satisfaction Level
        br
        input#edtSatisfactionLvl(type='number' data-type='input-spinner' placeholder='0' data-component='spinner' min='0' max='10')
      #Submit.contentdiv
        button#btnSubmit(type='submit' data-component='button') Submit
    #VoidRight

  