include fheader

mixin combo(formID, headerText, comboSet)
    +fheader(formID, attributes.id, headerText)
        select.inputbars(name!=attributes.id, form=formID, required)&attributes(attributes)
            if comboSet[0].label

                each group in comboSet
                    optgroup(label=group.label)
                        each item in group.items
                            option(value=item.value)= item.name

            else
                each item in comboSet
                        option(value=item)= item
                else
                    option Nothing in mixin

            //the else is to handle if the comboset was just an array