include fheader

//placeholder doesn't work for date
mixin date(formID, headerText)
    +fheader(formID, attributes.id, headerText)
        input.inputbars(name!=attributes.id, type='date', form=formID)&attributes(attributes)
    //+input(formID, headerText, 'date', '2020-01-01')&attributes(attributes)